<section class="about-us-area style-two">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-title left-aligned">
          <!-- section title -->
          <span class="subtitle">About RTIS</span>
          <h3 class="title extra">
            Built for everybody with unlimited unique features
          </h3>
          <!-- <p>
            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          </p> -->
        </div>
        <!-- . section title -->
      </div>
      <div class="col-lg-7">
        <div class="feature-area">
          <ul class="feature-list">
            <li
              class="single-feature-list wow zoomIn"
              style="visibility: visible; animation-name: zoomIn;"
            >
              <div class="clean-design-img">
                <img src="assets/img/icon-bg/01.png" alt="" />
              </div>
              <div class="content">
                <h4 class="title"><a href="#">Clean Design</a></h4>
                <p>
                  Consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
              </div>
            </li>
            <li
              class="single-feature-list wow zoomIn"
              style="visibility: visible; animation-name: zoomIn;"
            >
              <div class="clean-design-img">
                <img src="assets/img/icon-bg/01.png" alt="" />
              </div>
              <div class="content">
                <h4 class="title"><a href="#">Clean Design</a></h4>
                <p>
                  Consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
              </div>
            </li>
            <li
              class="single-feature-list wow zoomIn"
              style="visibility: visible; animation-name: zoomIn;"
            >
              <div class="clean-design-img">
                <img src="assets/img/icon-bg/01.png" alt="" />
              </div>
              <div class="content">
                <h4 class="title"><a href="#">Clean Design</a></h4>
                <p>
                  Consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
              </div>
            </li>
            <li
              class="single-feature-list wow zoomIn"
              style="visibility: visible; animation-name: zoomIn;"
            >
              <div class="clean-design-img">
                <img src="assets/img/icon-bg/01.png" alt="" />
              </div>
              <div class="content">
                <h4 class="title"><a href="#">Fully Respnosive</a></h4>
                <p>
                  Consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
              </div>
            </li>
            <li
              class="single-feature-list wow zoomIn"
              style="visibility: visible; animation-name: zoomIn;"
            >
              <div class="clean-design-img">
                <img src="assets/img/icon-bg/01.png" alt="" />
              </div>
              <div class="content">
                <h4 class="title"><a href="#">Pixel Perfect</a></h4>
                <p>
                  Consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
              </div>
            </li>
            <li
              class="single-feature-list wow zoomIn"
              style="visibility: visible; animation-name: zoomIn;"
            >
              <div class="clean-design-img">
                <img src="assets/img/icon-bg/01.png" alt="" />
              </div>
              <div class="content">
                <h4 class="title"><a href="#">Retina Ready</a></h4>
                <p>
                  Consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
