.about-us-area.style-two {
  padding-top: 100px;
  padding-bottom: 30px;

  //   padding-bottom: 80px;
}

.about-us-area {
  position: relative;
  // height: 100%;
}

.about-us-area.style-two .section-title {
  padding-right: 100px;
}

.section-title.left-aligned {
  text-align: left;
}

.section-title {
  margin-bottom: 57px;
}

.section-title .subtitle {
  font-size: 20px;
  line-height: 30px;
  color: #500ade;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin-bottom: 10px;
}

.section-title .title.extra {
  margin-bottom: 24px;
}

.section-title .title {
  font-size: 38px;
  line-height: 58px;
  margin-bottom: 13px;
  font-weight: 700;
  color: #1c144e;
}

.section-title p {
  font-size: 16px;
  color: #777777;
  max-width: 720px;
  line-height: 26px;
  margin: 0 auto;
}

.about-us-area.style-two .feature-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: none;
}

.feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  //   flex-wrap: nowrap;
  //   border: 2px solid #ededed;
}

.about-us-area.style-two .feature-list .single-feature-list {
  margin-bottom: 20px;
  width: 33%;
  border: none;
  padding: 0 20px;
  text-align: left;
}

.single-feature-list {
  display: block;
  //   text-align: center;
  //   padding: 60px 20px 40px 20px;
  //   border-right: 2px solid #ededed;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.about-us-area.style-two .feature-list .single-feature-list .icon {
  text-align: center;
}

// .single-feature-list .icon.icon-bg-1 {
//   background-image: url(../img/icon-bg/01.png);
//   background-repeat: no-repeat;
// }
.single-feature-list .icon {
  font-size: 40px;
  display: none;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  line-height: 100px;
  color: #fff;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.flaticon-vector:before {
  content: '\f101';
}

[class^='flaticon-']:before,
[class*=' flaticon-']:before,
[class^='flaticon-']:after,
[class*=' flaticon-']:after {
  font-family: Flaticon;
  font-size: inherit;
  font-style: normal;
}

.single-feature-list .content .title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c144e;
}

p {
  font-size: 16px;
  color: #666666;
  line-height: 1.625;
}
