#intro {
  background-image: url('assets/img/bg/white-bg.svg');
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  padding: 0 15px 30px;
  background-size: cover;
}

.section-title {
  padding-top: 40px;
  text-align: center;
}

span.section-title-text {
  color: #212529;
  font-size: 4vh;
  font-weight: 600;
}

.image-section {
  text-align: center;
  margin: 40px 0 20px 0;

  img {
    width: 80vw;
  }
}

.rtis-text {
  text-align: center;
  padding-top: 15px;
}
span.colorful-letter {
  color: #0dffce;
}
span.rtis-text-span {
  font-size: 17px;
  color: #212529;
  margin-bottom: 20px;
  /* font-weight: 100; */
}

.rtis-text-2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 20px;
  color: #0dffce;
  margin-top: 15px;
  font-weight: 600;
}
