<div id="intro">
  <div class="section-title">
    <span class="section-title-text"
      >Introducing
      <span class="colorful-letter">
        RTIS
      </span></span
    >
  </div>

  <div class="image-section">
    <img src="assets/img/RTIS.png" alt="" />
  </div>

  <div class="rtis-text">
    <span class="rtis-text-span">
      <span class="colorful-letter">R</span>esource
      <span class="colorful-letter">T</span>racking
      <span class="colorful-letter">I</span>nformation
      <span class="colorful-letter">S</span>ystem
    </span>
  </div>
  <!-- <div class="rtis-text-2">
    <span class="rtis-text-span-2">
      RTIS
    </span>
  </div> -->
</div>
