<!-- <section class="how-it-work-area">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title">
          <!~~ section title ~~>
          <span class="subtitle">How it works</span>
          <h3 class="title">Simple step-by-step procedures</h3>
          <!~~ <p>
            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolor tempor incididunt ut labore dolore magna.
          </p> ~~>
        </div>
        <!~~ . section title ~~>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="how-it-work-tab-nav">
          <!~~ <ngb-tabset [orientation]="vertical">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <span> Registration </span>

                <span class="number">
                  1
                </span>
              </ng-template>

              <ng-template ngbTabContent>
                <div class="row custom-tab-container">
                  <div class="col-lg-8">
                    Register your organization as manufacturing unit, brand or any stack holder.
                  </div>
                  <div class="col-lg-4 image-section">
                    <img src="assets/img/how-it-works-image.png" alt="how it works image" height="350px" />
                  </div>
                </div>
              </ng-template>
              <!~~ <ng-template ngbTabContent>
               
              </ng-template> ~~>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <span> Select Plan </span>

                <span class="number">
                  2
                </span>
              </ng-template>

              <ng-template ngbTabContent>
                <div class="row custom-tab-container">
                  <div class="col-lg-8">
                    Select plan that best suits your organization's need.
                  </div>
                  <div class="col-lg-4 image-section">
                    <img src="assets/img/how-it-works-image.png" alt="how it works image" height="350px" />
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <span> Setup Account </span>

                <span class="number">
                  3
                </span>
              </ng-template>

              <ng-template ngbTabContent>
                <div class="row custom-tab-container">
                  <div class="col-lg-8">
                    Enter all required information to setup your account. For example, manufacturing unit enters factory
                    information, raw materials, product type and quantity, resource consumption and production data,
                    etc.
                  </div>
                  <div class="col-lg-4 image-section">
                    <img src="assets/img/how-it-works-image.png" alt="how it works image" height="350px" />
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <span> Track Performance </span>

                <span class="number">
                  4
                </span>
              </ng-template>

              <ng-template ngbTabContent>
                <div class="row custom-tab-container">
                  <div class="col-lg-8">
                    Whether at home, work or travelling access from any platform and using interactive dashboard, track
                    business unit's accurate and verifiable performance, resource consumptions, dominant KPIs, GHG
                    emissions, ets.</div>
                  <div class="col-lg-4 image-section">
                    <img src="assets/img/how-it-works-image.png" alt="how it works image" height="350px" />
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <!~~ <ngb-tab title=" Open Settings ">
              <ng-template ngbTabContent>
                <p>Because default values have been customized.</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title=" Start Your Chat ">
              <ng-template ngbTabContent>
                <p>Because default values have been customized.</p>
              </ng-template>
            </ngb-tab> ~~>
          </ngb-tabset> ~~>

          <div class="tab">
            <button
              class="tablinks"
              style="margin-top: 0;"
              (click)="openCity($event, 'London')"
              id="defaultOpen"
            >
              Registration
              <span class="number1">
                1
              </span>
            </button>
            <button class="tablinks" (click)="openCity($event, 'Paris')">
              Select Plan<span class="number2">
                2
              </span>
            </button>
            <button class="tablinks" (click)="openCity($event, 'Tokyo')">
              Setup Account<span class="number3">
                3
              </span>
            </button>
            <!~~ <button class="tablinks" (click)="openCity($event, 'Tokyo')">
              Training<span class="number4">
                4
              </span>
            </button> ~~>
            <button
              style="margin-bottom: 0;"
              class="tablinks"
              (click)="openCity($event, 'Dhaka')"
            >
              Track Performance
              <span class="number4">
                4
              </span>
            </button>
          </div>

          <div id="London" class="tabcontent">
            <p class="tabcontent-text">
              Register your organization as a business unit, brand or
              stakeholder.
            </p>
            <div class="tabcontent-img">
              <img src="assets/img/Registration.png" width="350px" alt="" />
            </div>
          </div>

          <div id="Paris" class="tabcontent">
            <p class="tabcontent-text">
              Select a plan that best suits your organization's need.
            </p>
            <div class="tabcontent-img">
              <img src="assets/img/selectplan.png" width="350px" alt="" />
            </div>
          </div>

          <div id="Tokyo" class="tabcontent">
            <p class="tabcontent-text">
              Enter all required information to setup your account. For example,
              if you are a manufacturing unit, you would need to enter factory
              information, raw materials, product type and quantity, resource
              consumption and production data, etc.
            </p>
            <div class="tabcontent-img">
              <img src="assets/img/Setupaccountz.png" width="350px" alt="" />
            </div>
          </div>
          <div id="Dhaka" class="tabcontent">
            <p class="tabcontent-text">
              Whether you are at home, work or travelling; access from any
              platform and using interactive dashboard, track your business
              unit's accurate and verifiable performance, resource consumptions,
              dominant KPIs, GHG emissions, and many more.
            </p>
            <div class="tabcontent-img">
              <img src="assets/img/trackperformance.png" width="350px" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<div class="working-process-bg">
  <div class="section-title">
    <span>How</span><span class="colorful-letter"> RTIS </span
    ><span>works</span>
  </div>
  <div class="section-subtitle">
    <span>simple step-by-step procedures</span>
  </div>

  <div class="accordian-section mobile-accordion">
    <accordion [closeOthers]="true" [isAnimated]="true">
      <accordion-group
        [isOpen]="true"
        heading="Registration"
        (isOpenChange)="callFunc()"
      >
        <span class="accordian-content">
          Register your organization as a business unit, brand or stakeholder.
        </span>
      </accordion-group>
      <accordion-group heading="Select Plan">
        <span class="accordian-content"
          >Select a plan that best suits your organization's need.</span
        >
      </accordion-group>
      <accordion-group heading="Setup Account">
        <span class="accordian-content">
          Enter all required information to setup your account. For example, if
          you are a manufacturing unit, you would need to enter factory
          information, raw materials, product type and quantity, resource
          consumption and production data, etc.
        </span>
      </accordion-group>
      <accordion-group heading="Track Performance">
        <span class="accordian-content">
          Whether you are at home, work or travelling; access from any platform
          and using interactive dashboard, track your business unit's accurate
          and verifiable performance, resource consumptions, dominant KPIs, GHG
          emissions, and many more.
        </span>
      </accordion-group>
    </accordion>
  </div>

  <div class="desktop-step">
    <div class="childz">
      <div class="sadsad">
        <div class="step-icons">
          <div
            (click)="onSelectTab('tab1')"
            class="step-single-icon"
            [ngClass]="{ selected: selectedTab === 'tab1' }"
          >
            <img src="assets/icons/registration.svg" alt="" />
          </div>
          <div class="step-single-text">
            Complete <br />
            Registration
          </div>
        </div>
      </div>
      <div class="sadsad">
        <div class="step-icons">
          <div
            (click)="onSelectTab('tab2')"
            class="step-single-icon"
            [ngClass]="{ selected: selectedTab === 'tab2' }"
          >
            <img src="assets/icons/internet.svg" alt="" />
          </div>
          <div class="step-single-text">
            Select <br />
            Plan
          </div>
        </div>
      </div>
      <div class="sadsad">
        <div class="step-icons">
          <div
            (click)="onSelectTab('tab3')"
            class="step-single-icon"
            [ngClass]="{ selected: selectedTab === 'tab3' }"
          >
            <img src="assets/icons/Computer-File.svg" alt="" />
          </div>
          <div class="step-single-text">
            Setup <br />
            Account
          </div>
        </div>
      </div>
      <div style="display: inline-block;">
        <div class="step-icons">
          <div
            (click)="onSelectTab('tab4')"
            class="step-single-icon"
            [ngClass]="{ selected: selectedTab === 'tab4' }"
          >
            <img src="assets/icons/success.svg" alt="" />
          </div>
          <div class="step-single-text">
            Track <br />
            Performance
          </div>
        </div>
      </div>
    </div>
    <div>
      <ng-container *ngTemplateOutlet="selectedTemplate"></ng-container>
    </div>

    <!-- <div class="step-details">
      Enter all required information to setup your account. For example, if you
      are a manufacturing unit, you would need to enter factory information, raw
      materials, product type and quantity, resource consumption and production
      data, etc.
    </div> -->
  </div>
</div>

<ng-template #tab1>
  <p class="step-details">
    Register your organization as a business unit, brand or stakeholder.
  </p>
</ng-template>

<ng-template #tab2>
  <p class="step-details">
    Select a plan that best suits your organization's need.
  </p>
</ng-template>

<ng-template #tab3>
  <p class="step-details">
    Enter all required information to setup your account. For example, if you
    are a manufacturing unit, you would need to enter factory information, raw
    materials, product type and quantity, resource consumption and production
    data, etc.
  </p>
</ng-template>

<ng-template #tab4>
  <p class="step-details">
    Whether you are at home, work or travelling; access from any platform and
    using interactive dashboard, track your business unit's accurate and
    verifiable performance, resource consumptions, dominant KPIs, GHG emissions,
    and many more.
  </p>
</ng-template>
