.how-it-work-area {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .how-it-work-area {
    display: block;
    position: relative;
    // height: 637px;
  }

  .how-it-work-area .shape-1 {
    position: absolute;
    left: 10%;
    top: 5%;
    -webkit-animation: upndown 10s linear 2s infinite;
    animation: upndown 10s linear 2s infinite;
  }

  .how-it-work-area .shape-2 {
    position: absolute;
    left: 6%;
    top: 10%;
    -webkit-animation: upndown 8s linear 2s infinite;
    animation: upndown 8s linear 2s infinite;
    opacity: 0.5;
  }

  .how-it-work-area .shape-3 {
    position: absolute;
    right: 10%;
    bottom: 10%;
    -webkit-animation: upndown 10s linear 2s infinite;
    animation: upndown 10s linear 2s infinite;
  }

  .how-it-work-area .shape-4 {
    position: absolute;
    right: 6%;
    bottom: 20%;
    -webkit-animation: upndown 8s linear 2s infinite;
    animation: upndown 8s linear 2s infinite;
    opacity: 0.5;
  }

  @keyframes upndown {
    0% {
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    50% {
      -ms-transform: translateY(100px);
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }

    100% {
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }

  .section-title {
    text-align: center;
    margin-bottom: 30px;
  }

  .section-title .subtitle {
    font-size: 20px;
    line-height: 30px;
    color: #500ade;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-bottom: 10px;
  }

  .section-title .title {
    font-size: 35px;
    line-height: 58px;
    margin-bottom: 13px;
    font-weight: 700;
    color: #1c144e;
  }

  .section-title p {
    font-size: 16px;
    color: #777777;
    max-width: 720px;
    line-height: 26px;
    margin: 0 auto;
  }

  .how-it-work-tab-nav {
    margin-bottom: 40px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
  }

  .tab {
    float: left;
    border: none;
    width: 30%;
    height: 278px;
  }

  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: #ccc;
    color: black;
    padding: 22px 30px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    margin: 5px 0;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current "tab button" class */
  .tab button.active {
    background: linear-gradient(50deg, #5e2ced 0%, #9749f8 100%);
    color: #fff;
  }

  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 278px;
  }

  .number1 {
    position: absolute;
    top: 5%;
    left: 75px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(50deg, #e877cb 0%, #a197fa 100%);
    background-image: -ms-linear-gradient(50deg, #e877cb 0%, #a197fa 100%);
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
  }

  .number2 {
    position: absolute;
    top: 88px;
    left: 75px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(50deg, #e877cb 0%, #a197fa 100%);
    background-image: -ms-linear-gradient(50deg, #e877cb 0%, #a197fa 100%);
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
  }

  .number3 {
    position: absolute;
    top: 163px;
    left: 75px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(50deg, #e877cb 0%, #a197fa 100%);
    background-image: -ms-linear-gradient(50deg, #e877cb 0%, #a197fa 100%);
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
  }

  .number4 {
    position: absolute;
    top: 85%;
    left: 75px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(50deg, #e877cb 0%, #a197fa 100%);
    background-image: -ms-linear-gradient(50deg, #e877cb 0%, #a197fa 100%);
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
  }

  .number5 {
    position: absolute;
    top: 112%;
    left: 75px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(50deg, #e877cb 0%, #a197fa 100%);
    background-image: -ms-linear-gradient(50deg, #e877cb 0%, #a197fa 100%);
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
  }

  .tabcontent-text {
    width: 60%;
    text-align: justify;
    font-size: 20px;
    margin-left: 15px;
  }

  .tabcontent-img {
    width: 40%;
    float: right;
    top: -19px;
    position: absolute;
    right: -120px;
  }
}

.working-process-bg {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url('assets/img/bg/white-bg-2.svg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.section-title {
  text-align: center;
  font-size: 7vw;
  font-weight: 600;
}
.section-subtitle {
  text-align: center;
  font-size: 5vw;
}

.accordian-section {
  padding: 0 15px;
}
::ng-deep .card-header {
  padding: 0.25rem 1.25rem;
  background-color: #673ab7;
}
::ng-deep accordion-group.panel {
  margin: 5px 0;
}

::ng-deep .btn.btn-link {
  font-size: 2.8vh;
  color: #fff;
  &:focus {
    color: #fff;
    text-decoration: none !important;
    box-shadow: none;
  }
}

::ng-deep {
  @media only screen and (min-width: 600px) {
    .btn.btn-link {
      font-size: 2.8vw !important;
    }
  }
}

.accordian-content {
  font-size: 2.3vh;
}
::ng-deep .accordion-toggle[aria-expanded='true']:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: '\f106';

  float: right;
  line-height: 40px;
  font-size: 3.5vh;
  color: #fff;
}

::ng-deep .accordion-toggle[aria-expanded='false']:after {
  content: '\f107';

  font: normal normal normal 14px/1 FontAwesome;
  float: right;
  line-height: 40px;
  font-size: 3.5vh;
  color: #fff;
}

.sadsad {
  display: inline-block;
}

.step-details {
  margin-top: 30px;
  text-align: center;
  padding: 0 100px;
  font-size: 22px;
}
