/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .header-area .header-inner .title {

    font-size: 32px !important;
    line-height: 44px !important;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;

  }

  .header-area {
    padding: 260px 0 155px 0;
    padding-top: 100px !important;
  }

  .item {
    width: 100% !important;
    height: auto !important;
    line-height: 25px !important;
    position: absolute !important;
    top: 115px !important;
    padding-left: 0 !important;
    font-size: 20px !important;
    text-align: center !important;
    margin: 0 auto !important;
  }

  .inner {
    font-size: 28px !important;
    color: #fff !important;
    text-align: center !important;
    margin-top: -20px !important;
    display: block !important;
  }

  .laptop-img img {
    width: 100%;
    height: auto;
    margin-top: 60px;
  }

  .about-us-area.style-two .section-title {
    padding-right: 0 !important;
    text-align: center !important;
  }

  .section-title .title {

    font-size: 32px !important;
    line-height: 38px !important;
    text-align: center;
    border-bottom: 1px solid #9E9E9E;
    padding-bottom: 10px !important;
    margin-bottom: 5px !important;
  }

  .about-us-area.style-two .feature-list .single-feature-list {
    margin-bottom: 20px !important;
    width: 100% !important;
    padding: 15px !important;
    text-align: center !important;
    border: 1px solid #ddd !important;
    border-radius: 6px !important;
  }

  .single-why-us-item {

    text-align: center !important;
  }

  .contact-area-wrapper .subtitle {
    text-align: center !important;
  }

  .contact-area-wrapper .title {
    font-weight: 700 !important;
    color: #1c144e;
    font-size: 32px !important;
    line-height: 38px !important;
    text-align: center;
    border-bottom: 1px solid #9E9E9E;
    padding-bottom: 10px !important;
    margin-bottom: 5px !important;
  }

  div#contact p {
    text-align: center;
  }

  .footer-widget.nav_menus_widget {
    margin-left: 0px !important;
  }

  .footer-widget.about_widget {
    margin-bottom: 30px !important;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}