.start-area {
  background: url('assets/img/bg/white-bg-2.svg');
  background-position: center;
  background-size: cover;
  padding-bottom: 40px;
}
.content {
  margin: 8px;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-video-responsive {
  //   width: 50%;
}
.progress {
  display: block;
  overflow: visible;
  font-size: 0.75rem;
  background-color: transparent;
  border-radius: 0.25rem;
}
