<section class="start-area">
  <div class="section-title">
    Start With
    <span class="colorful-letter">
      RTIS
    </span>
  </div>
  <div class="section-subtitle">
    watch the short video & start using
  </div>

  <div class="mobile-video-section">
    <div class="content video">
      <mat-video
        #vid
        [ngClass]="ngclass"
        [src]="src"
        [autoplay]="autoplay"
        [preload]="preload"
        [loop]="loop"
        [fullscreen]="fullscreen"
        [download]="download"
        [quality]="quality"
        [keyboard]="keyboard"
        [color]="color"
        [spinner]="spinner"
        [overlay]="overlay"
        [(muted)]="muted"
        [showFrameByFrame]="showFrameByFrame"
        [(time)]="currentTime"
      >
      </mat-video>
    </div>
  </div>
</section>
