<section class="pricing-plan-area pricing-plan-bg" id="pricing">
  <div class="section-title"> Affordable <span class="colorful-letter">RTIS</span> Pricing </div>
  <div class="section-subtitle">choose plan that suits you</div>
  <div class="button">
    <a href="#">
      <div class="hoverBtn"></div>
      <div class="hoverBtn-bottom"></div>
    </a>
  </div>
  <div class="mobile-pricing">
    <owl-carousel-o [options]="customOptionss">
      <ng-template carouselSlide>
        <div class="pricing-item">
          <div class="pricing-item-heading">Premium</div>
          <div class="premium-pricing-item-icon"></div>
          <div class="pricing-item-price"> $200 </div>
          <div class="pricing-item-body">
            <div>Unlimited data control</div>
            <div>Unlimited Data Transfer</div>
            <div>Maintenance Schedule Data</div>
            <div>Config Implementation Plan</div>
            <div>Implementation of custom feature</div>
            <div>24/7 Phone Support</div>
            <div>Unlimited technical support</div>
          </div>
          <div class="pricing-item-button">
            <div class="round-btn">Purchase</div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="pricing-item">
          <div class="pricing-item-heading">Basic</div>
          <div class="basic-pricing-item-icon"></div>
          <div class="pricing-item-price"> $120 </div>
          <div class="pricing-item-body">
            <div>5 year data control</div>
            <div>3 user control</div>
            <div>25 factory information sharing</div>
            <div>Customized authentication</div>
            <div>Data sharing with 10 brands</div>
            <div>5 reports per month</div>
            <div>24/7 support</div>
          </div>
          <div class="pricing-item-button">
            <div class="round-btn">Purchase</div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="pricing-item">
          <div class="pricing-item-heading">Standard</div>
          <div class="pricing-item-icon"></div>
          <div class="pricing-item-price"> $150 </div>
          <div class="pricing-item-body">
            <div>Maintenance Schedule Data</div>
            <div>Config Implementation Plan</div>
            <div>Utility Mapping panel</div>
            <div>Customized authentication</div>
            <div>Unlimited data sharing</div>
            <div>Custom user control</div>
            <div>Unlimited reports</div>
          </div>
          <div class="pricing-item-button">
            <div class="round-btn">Purchase</div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <div class="pc-pricing">
    <owl-carousel-o [options]="customOptionz">
      <ng-template carouselSlide>
        <div class="box pricing-item">
          <div class="pricing-item-heading">Basic</div>
          <div class="basic-pricing-item-icon"></div>
          <div class="pricing-item-price"> $120 </div>
          <div class="pricing-item-body">
            <div>5 year data control</div>
            <div>3 user control</div>
            <div>25 factory information sharing</div>
            <div>Customized authentication</div>
            <div>Data sharing with 10 brands</div>
            <div>5 reports per month</div>
            <div>24/7 support</div>
          </div>
          <div class="pricing-item-button">
            <div class="round-btn">Purchase</div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="box pricing-item">
          <div class="pricing-item-heading">Standard</div>
          <div class="pricing-item-icon"></div>
          <div class="pricing-item-price"> $150 </div>
          <div class="pricing-item-body">
            <div>Maintenance Schedule Data</div>
            <div>Config Implementation Plan</div>
            <div>Utility Mapping panel</div>
            <div>Customized authentication</div>
            <div>Unlimited data sharing</div>
            <div>Custom user control</div>
            <div>Unlimited reports</div>
          </div>
          <div class="pricing-item-button">
            <div class="round-btn">Purchase</div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="box pricing-item">
          <div class="pricing-item-heading">Premium</div>
          <div class="premium-pricing-item-icon"></div>
          <div class="pricing-item-price"> $200 </div>
          <div class="pricing-item-body">
            <div>Unlimited data control</div>
            <div>Unlimited Data Transfer</div>
            <div>Maintenance Schedule Data</div>
            <div>Config Implementation Plan</div>
            <div>Implementation of custom feature</div>
            <div>24/7 Phone Support</div>
            <div>Unlimited technical support</div>
          </div>
          <div class="pricing-item-button">
            <div class="round-btn">Purchase</div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>