.pricing-plan-area {
  //   height: 80vh;
  padding-bottom: 30px;
  background: url('assets/img/bg/pricing-bg.jpg');
  background-size: cover;
  background-position: center;
}
.mobile-pricing {
  .owl-item {
    color: black !important;
    //   width: 200px !important;
  }
}

.section-title {
  font-weight: 600;
}

.pricing-item {
  text-align: center;
  background-color: #fff;
  border-top: 5px #673ab7 solid;
  box-shadow: 0px 3px 5px #00000047;
  border-radius: 10px;
  transition: 0.5s ease all;
}

.pc-pricing {
  .pricing-item:hover {
    border-top: 5px transparent solid;
  }
}

.pricing-item-heading {
  font-size: 22px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.pricing-item-icon {
  background: url('assets/img/standard.svg');
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  height: 10vh;
  width: 10vh;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.basic-pricing-item-icon {
  background: url('assets/img/basic.svg');
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  height: 10vh;
  width: 10vh;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.premium-pricing-item-icon {
  background: url('assets/img/unlimited.svg');
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  height: 10vh;
  width: 10vh;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.pricing-item-price {
  border-bottom: 1px solid #ddd;
  margin: 15px 10px;
  font-size: 25px;
  padding-bottom: 5px;
}

.pricing-item-button {
  margin: 20px 0;
  text-align: center;
  padding-bottom: 20px;
}
.round-btn {
  background: #673ab7;
  color: #fff;
  width: 100px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 20px;
  height: 35px;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}

.pc-pricing {
  padding: 0 15vw;
}

.pricing-item-body {
  line-height: 3.5vh;
}

///animation
.box {
  position: relative;
  vertical-align: middle;
  // color: #0b7;
  display: block;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  // border: 2px solid #0b7;
  -webkit-transition: 0.5s;
  border-radius: 10px;
  width: 100%;
}

// .box:hover {
//   border: 2px solid rgba(0, 160, 80, 0);
//   color: #000;
// }

.box::before,
.box::after {
  width: 100%;
  height: 101%;
  z-index: 3;
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
  border-radius: 10px;
}

.pricing-item::before {
  border-bottom: 3px solid #673ab7;
  border-left: 3px solid #673ab7;
  -webkit-transform-origin: 0 100%;
}

.pricing-item::after {
  border-top: 3px solid #673ab7;
  border-right: 3px solid #673ab7;
  -webkit-transform-origin: 100% 0%;
}
.box:hover::after,
.box:hover::before {
  -webkit-transform: scale(1);
}
.pc-pricing {
  .owl-stage-outer {
    padding: 0 10px;
  }
}
