<div id="menu" class="transparent-menu">
  <div class="row">
    <div class="col-md-2">
      <div class="header-logo">
        <img class="rtis-logo" src="assets/img/logowhite.png" alt="" />
      </div>
    </div>
    <div class="col-md-7">
      <div class="header-menu custom-pull-right">
        <ul>
          <li data-menuanchor="page1">
            <a href="#page1">Home</a>
          </li>
          <li data-menuanchor="page3">
            <a href="#page3">About</a>
          </li>
          <li data-menuanchor="page4">
            <a href="#page4">How it works</a>
          </li>
          <li data-menuanchor="page5">
            <a href="#page5">Try App</a>
          </li>
          <li data-menuanchor="page7">
            <a href="#page7">Pricing</a>
          </li>
          <!-- <li data-menuanchor="page4">
            <a href="#page4">Pricing</a>
          </li> -->
          <li data-menuanchor="page9">
            <a href="#page9">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="header-button pull-right">
        <a href="https://app.globalrtis.com/auth/signup">
          <button class="btn register-btn">Register</button></a>
        <a href="https://app.globalrtis.com/">
          <button class="btn login-btn">Sign In</button></a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="trigger ">
	<svg
	  class="bars"
	  viewBox="0 0 100 100"
	  onclick="this.classList.toggle('active')"
	>
	  <path
		class="line top"
		d="m 30,33 h 40 c 13.100415,0 14.380204,31.80258 6.899646,33.421777 -24.612039,5.327373 9.016154,-52.337577 -12.75751,-30.563913 l -28.284272,28.284272"
	  ></path>
	  <path
		class="line middle"
		d="m 70,50 c 0,0 -32.213436,0 -40,0 -7.786564,0 -6.428571,-4.640244 -6.428571,-8.571429 0,-5.895471 6.073743,-11.783399 12.286435,-5.570707 6.212692,6.212692 28.284272,28.284272 28.284272,28.284272"
	  ></path>
	  <path
		class="line bottom"
		d="m 69.575405,67.073826 h -40 c -13.100415,0 -14.380204,-31.80258 -6.899646,-33.421777 24.612039,-5.327373 -9.016154,52.337577 12.75751,30.563913 l 28.284272,-28.284272"
	  ></path>
	</svg>
  </div> -->
<div class="header transparent" id="menuz">
  <div class="header-logo-responsive">
    <img class="rtis-logo" src="assets/img/logowhite.png" alt="" />
  </div>
  <div class="icon-container pull-right" (click)="toggleMenu()">
    <svg class="bars" viewBox="0 0 100 100">
      <path class="line top"
        d="m 30,33 h 40 c 13.100415,0 14.380204,31.80258 6.899646,33.421777 -24.612039,5.327373 9.016154,-52.337577 -12.75751,-30.563913 l -28.284272,28.284272">
      </path>
      <path class="line middle"
        d="m 70,50 c 0,0 -32.213436,0 -40,0 -7.786564,0 -6.428571,-4.640244 -6.428571,-8.571429 0,-5.895471 6.073743,-11.783399 12.286435,-5.570707 6.212692,6.212692 28.284272,28.284272 28.284272,28.284272">
      </path>
      <path class="line bottom"
        d="m 69.575405,67.073826 h -40 c -13.100415,0 -14.380204,-31.80258 -6.899646,-33.421777 24.612039,-5.327373 -9.016154,52.337577 12.75751,30.563913 l 28.284272,-28.284272">
      </path>
    </svg>
  </div>
  <div class="login-signup-btn">
    <a href="https://app.globalrtis.com/">
      <i class="fa fa-user-circle"></i>
    </a>
  </div>
  <div class="mobile-menu">
    <ul class="menu">
      <li class="menu-item" data-menuanchor="page1">
        <a [ngClass]="activeMobileMenu === 'sec1' ? 'change-color' : ''" href="#page1"
          (click)="clickMenuItem('sec1')">Home</a>
      </li>
      <li class="menu-item" data-menuanchor="page3">
        <a [ngClass]="activeMobileMenu === 'sec3' ? 'change-color' : ''" href="#page3"
          (click)="clickMenuItem('sec3')">About</a>
      </li>
      <li class="menu-item" data-menuanchor="page4">
        <a [ngClass]="activeMobileMenu === 'sec4' ? 'change-color' : ''" href="#page4"
          (click)="clickMenuItem('sec4')">How it works</a>
      </li>
      <!-- <li class="menu-item" data-menuanchor="page5">
        <a href="#page4" (click)="clickMenuItem()">Pricing</a>
      </li> -->
      <li class="menu-item" data-menuanchor="page5">
        <a [ngClass]="activeMobileMenu === 'sec5' ? 'change-color' : ''" href="#page5"
          (click)="clickMenuItem('sec5')">Try App</a>
      </li>
      <li class="menu-item" data-menuanchor="page7">
        <a [ngClass]="activeMobileMenu === 'sec7' ? 'change-color' : ''" href="#page7"
          (click)="clickMenuItem('sec7')">Pricing</a>
      </li>
      <li class="menu-item" data-menuanchor="page9">
        <a [ngClass]="activeMobileMenu === 'sec9' ? 'change-color' : ''" href="#page9"
          (click)="clickMenuItem('sec9')">Contact Us</a>
      </li>
      <li class="menu-item">
        <a href="https://app.globalrtis.com/auth/signup">Register</a>
      </li>
      <!-- <li class="menu-item">
        <a href="https://app.globalrtis.com">Login</a>
      </li> -->
      <!-- <li class="menu-item"><a href="#">Music</a></li> -->
      <!-- <li class="menu-item"><a href="#">Support</a></li> -->
    </ul>
  </div>
</div>
<div fullpage id="fullpage1" [options]="config" (ref)="getRef($event)" (window:scroll)="onScroll($event)" #fullpageRef>
  <div id="sec1" class="section ">
    <app-header-section></app-header-section>
  </div>
  <div id="sec2" class="section fp-auto-height-responsive">
    <app-introducing-section></app-introducing-section>
  </div>
  <!-- <div class="section fp-auto-height">
    <app-about-us-section></app-about-us-section>
  </div> -->
  <div id="sec3" class="section fp-auto-height-responsive">
    <app-choose-this-section [cssData]="flag"></app-choose-this-section>
  </div>
  <div id="sec4" class="section fp-auto-height-responsive">
    <app-working-process-section></app-working-process-section>
  </div>
  <!-- <div class="section fp-auto-height-responsive">
    <app-pricing-section></app-pricing-section>
  </div> -->
  <div id="sec5" class="section ">
    <app-try-now-section></app-try-now-section>
  </div>
  <div id="sec6" class="section ">
    <app-start-section></app-start-section>
  </div>
  <div id="sec7" class="section fp-auto-height-responsive">
    <app-pricing-section></app-pricing-section>
  </div>
  <div id="sec8" class="section faq-section">
    <div class="section-title">
      <span class="colorful-letter">RTIS</span> FAQ
    </div>
    <div class="section-subtitle"> find answer to your questions </div>
    <div class="slide">
      <accordion [isAnimated]="true" [closeOthers]="true">
        <accordion-group heading="How to register in RTIS" [isOpen]="true"> <span class="faq-ans"> Lorem ipsum dolor,
            sit amet consectetur adipisicing elit. Facilis enim illum distinctio pariatur laborum molestiae. Lorem ipsum
            dolor, sit amet consectetur adipisicing elit. Facilis enim illum distinctio pariatur laborum molestiae.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex beatae, iusto pariatur porro quas nesciunt
            dolor delectus. Placeat repellat sapiente odit quisquam, beatae voluptatem provident obcaecati labore odio
            qui eum facilis quia itaque, voluptatibus neque doloremque nam dolorum molestiae! Quo, perferendis aut
            praesentium eveniet distinctio obcaecati quisquam corporis ullam facilis temporibus ea aspernatur iure magni
            aperiam dolore error! Blanditiis sunt similique facere fugit consequuntur eligendi maxime debitis alias odio
            dicta aliquam soluta asperiores, sint deleniti eaque commodi quisquam quis aliquid est non! </span>
        </accordion-group>
        <accordion-group heading="How to change password"> <span class="faq-ans"> Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Facilis enim illum distinctio pariatur laborum molestiae. </span>
        </accordion-group>
        <accordion-group heading="How do I sign out from RTIS"> <span class="faq-ans"> Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Facilis enim illum distinctio pariatur laborum molestiae. </span>
        </accordion-group>
        <accordion-group heading="How to pay for RTIS"> <span class="faq-ans"> Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Facilis enim illum distinctio pariatur laborum molestiae. </span></accordion-group>
      </accordion>
    </div>
    <!-- <div class="slide">
      <accordion [isAnimated]="true" [closeOthers]="true">
        <accordion-group heading="How to update WhatsApp">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis enim
          illum distinctio pariatur laborum molestiae.
        </accordion-group>
        <accordion-group heading="How to change the language">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis enim
          illum distinctio pariatur laborum molestiae.
        </accordion-group>
        <accordion-group heading="How to restore your chat history">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis enim
          illum distinctio pariatur laborum molestiae.
        </accordion-group>
        <accordion-group heading="How to update WhatsApp">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis enim
          illum distinctio pariatur laborum molestiae.
        </accordion-group>
      </accordion>
    </div>
    <div class="slide">
      <accordion [isAnimated]="true" [closeOthers]="true">
        <accordion-group heading="How to restore your chat history">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis enim
          illum distinctio pariatur laborum molestiae.
        </accordion-group>
        <accordion-group heading="How to update WhatsApp">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis enim
          illum distinctio pariatur laborum molestiae.
        </accordion-group>
        <accordion-group heading="How to change the language">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis enim
          illum distinctio pariatur laborum molestiae.
        </accordion-group>
        <accordion-group heading="How to restore your chat history">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis enim
          illum distinctio pariatur laborum molestiae.
        </accordion-group>
      </accordion>
    </div> -->
  </div>
  <div id="sec9" class="section fp-auto-height-responsive">
    <app-contact-us-section></app-contact-us-section>
  </div>
  <div id="sec10" class="section fp-auto-height">
    <app-footer-section></app-footer-section>
  </div>
</div>