@import '~fullpage.js/dist/fullpage.min.css';
@import url(~fullpage.js/dist/fullpage.min.css);
@import '~swiper/dist/css/swiper.min.css';

body {
  min-width: 1000px;
  /* Suppose you want minimum width of 1000px */
  width: auto !important;
  /* Firefox will set width as auto */
  width: 1000px;
  /* As IE6 ignores !important it will set width as 1000px; */
}

.header-logo {
  // margin-left: 20px;
  padding-top: 10px;
}

.header-logo-responsive {
  // margin-left: 20px;
  padding-top: 10px;
  position: relative;
  top: -6px;
  display: inline-block;
}

.custom-pull-right {
  float: right;
}

button.btn.login-btn {
  background: #9c27b0;
  color: #fff;
  border-radius: 30px;
  width: 90px;
  margin-left: 20px;
}

button.btn.register-btn {
  background: #2196f3;
  color: #fff;
  border-radius: 30px;
  width: 90px;
  margin-left: 20px;
}

.header-button {
  margin-top: 17px;
}

#menu li {
  display: inline-block;
  margin: 20px 0;
  line-height: 30px;
  transition: 0.3s ease-in-out;
  padding: 0px 10px;
  border-bottom: 2px solid transparent;

  //   background: #fff;
  //   background: rgba(255, 255, 255, 0.5);
  //   -webkit-border-radius: 10px;
  //   border-radius: 10px;
}

#menu li:last-child {
  border-right: none;
}

#menu li:hover {
  a {
    color: rgb(32, 201, 151);
  }
}

#menu li.active {
  border-bottom: 2px solid rgb(32, 201, 151);

  a {
    color: rgb(32, 201, 151) !important;
  }
}

#menu li a {
  text-decoration: none;
  color: #ddd;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

#menu li.active a:hover {
  color: rgb(32, 201, 151);
}

#menu li:hover {
  //   background: rgba(255, 255, 255, 0.8);
  // border-bottom: 1px solid #fff;
}

#menu li a,
#menu li.active a {
  padding: 0px 5px;
  display: block;
}

#menu li.active a {
  color: #fff;
}

.transparent-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
  box-shadow: none;
  transition: 0.6s;
}

.block-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
  background: rgb(73, 73, 189);
  box-shadow: 0 3px 10px #3f3f49;
  transition: 0.6s;
}

.container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.container .mouse {
  width: 28px;
  height: 50px;
  border: 2px solid #ecf0f1;
  margin: 0 auto;
  border-radius: 30px;
}

.container .mouse .mouse-wheel {
  overflow: hidden;
  margin-top: 5px;
}

.container .mouse .mouse-wheel span {
  display: block;
  margin: 5px auto;
  width: 5px;
  height: 5px;
}

.container .mouse .mouse-wheel span.wheel {
  border: 2px solid #ecf0f1;
  border-radius: 5px;
  width: 0;
}

.container .mouse .mouse-wheel span.arrow {
  border-bottom: 2px solid #ecf0f1;
  border-right: 2px solid #ecf0f1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: scrollDown;
  animation: scrollDown;
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes scrollDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }

  50% {
    opacity: 0;
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }

  75% {
    opacity: 0;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
}

@keyframes scrollDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }

  50% {
    opacity: 0;
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }

  75% {
    opacity: 0;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
}

.header-menu {
  li .active {
    color: #f00;
  }
}

.bars {
  width: 50px;
  cursor: pointer;
}

.bars .line {
  fill: none;
  stroke: #fff;
  stroke-width: 4;
  stroke-linecap: square;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
}

.bars .line.top {
  stroke-dasharray: 40 172;
}

.bars .line.middle {
  stroke-dasharray: 40 111;
}

.bars .line.bottom {
  stroke-dasharray: 40 172;
}

.bars.active .top {
  stroke-dashoffset: -132px;
}

.bars.active .middle {
  stroke-dashoffset: -71px;
}

.bars.active .bottom {
  stroke-dashoffset: -132px;
}

.container {
  background: #f0f0f0;
  position: relative;
  overflow: hidden;
  width: 375px;
  height: 600px;
  margin: 50px auto 0;
  box-shadow: 0 0 50px 10px #aaa;
}

.container .header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.content {
  padding: 40px 5% 20px;
  text-align: justify;
  max-height: 100%;
  color: #333;
  overflow-y: scroll;
}

.content img {
  width: 100%;
  position: relative;
  display: block;
  margin: 40px auto 30px;
}

// @media (max-width: 480px) {
//   .container {
//     margin: 0 auto;
//     width: 100%;
//     height: 100%;
//     box-shadow: none;
//   }
//   .container .header {
//     position: fixed;
//   }
//   .content {
//     overflow-y: hidden;
//   }
// }
/* End container/placeholder */
.header {
  display: none;
}

/* Menu Header */
.header.transparent {
  // background: rgba(0, 0, 0, 0);
  background: #390c7d;

  overflow: hidden;
  height: 55px;
  width: 100%;
  z-index: 1;
  position: fixed;
  transition: all 0.4s ease-out, background 1s ease-out;
  padding: 0 15px;
}

.header.block {
  background: rgb(47, 6, 161);
  overflow: hidden;
  height: 55px;
  width: 100%;
  z-index: 1;
  position: fixed;
  transition: all 0.4s ease-out, background 1s ease-out;
  padding: 0 15px;
}

.header.menu-open {
  height: 100%;
  background: #111;
  transition: all 0.45s ease-out, background 0.8s ease-out;
}

/* Menu List items */
.mobile-menu {
  clear: both;
}

.header ul.menu {
  position: relative;
  display: block;
  padding: 0px 40px 0;
  list-style: none;
}

.header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 2.8;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.header ul.menu li.menu-item {
  border-bottom: 1px solid #333;
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.header ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.35s;
}

.header ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.3s;
}

.header ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.25s;
}

.header ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.2s;
}

.header ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.15s;
}

.header ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.1s;
}

.header ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.05s;
}

.header.menu-open ul.menu li.menu-item {
  opacity: 1;
}

.header.menu-open ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.05s;
}

.header.menu-open ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.1s;
}

.header.menu-open ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.15s;
}

.header.menu-open ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.2s;
}

.header.menu-open ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.25s;
}

.header.menu-open ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.3s;
}

.header.menu-open ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.35s;
}

/* Menu Icon */
.icon-container {
  position: relative;
  display: inline-block;
  z-index: 2;
  float: right;
  /* Simply change property to float left to switch icon side :) */
  height: 55px;
  width: 55px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  margin-right: -15px;
}

.icon-container #menuicon {
  width: 20px;
  height: 10px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}

#menuicon .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #fff;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#menuicon .bar.bar1 {
  -webkit-transform: translateY(0px) rotate(0deg);
  transform: translateY(0px) rotate(0deg);
}

#menuicon .bar.bar2 {
  -webkit-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg);
}

.menu-open .icon-container {
  // -webkit-transform: rotate(90deg);
  // transform: rotate(90deg);
}

.menu-open .icon-container #menuicon .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.1s;
}

.menu-open .icon-container #menuicon .bar.bar1 {
  -webkit-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
}

.menu-open .icon-container #menuicon .bar.bar2 {
  -webkit-transform: translateY(3px) rotate(-45deg);
  transform: translateY(3px) rotate(-45deg);
}

@media only screen and (max-width: 1024px) {
  #menu {
    display: none;
  }

  .header {
    display: block;
  }
}

#left-side-item {
  position: relative;
  left: -500px;
  transition-delay: 5s;
}

.login-signup-btn {
  display: inline;
  float: right;
  i {
    font-size: 30px;
    color: #fff;
    line-height: 50px;
    margin-right: 9px;
  }
}

.header-logo-responsive {
  .rtis-logo {
    width: 60px;
    margin-top: 5px;
  }
}

.change-color {
  color: #e880a3 !important;
}

.faq-section {
  background: url(assets/img/bg/faq-bg.svg);
  background-repeat: no-repeat;
  // background-position: center;
  background-size: cover;
  padding: 0 10px 20px 10px;
}

.section-title,
.section-subtitle {
  color: #fff;
}

::ng-deep.slide {
  @media only screen and (max-width: 600px) {
    .card {
      background-color: transparent !important;
      border: 1px solid rgba(255, 255, 255, 0.35) !important;
    }
    .card-header {
      padding: 0 !important;
      background-color: transparent !important;
      background-color: rgba(0, 0, 0, 0.03);
      border-bottom: none !important;
    }
    .accordion-toggle:after {
      display: none !important;
    }
    .card-body {
      color: #fff !important;
      padding: 5px 10px !important;
    }
    .btn {
      padding: 5px 10px !important;
      text-align: left !important;
    }
    .btn.btn-link {
      font-size: 5vw !important;
    }
    .btn-link:hover {
      text-decoration: none !important;
    }
  }

  @media only screen and (min-width: 1200px) {
    padding: 0 100px;
    accordion-group.panel {
      margin: 20px 0 !important;
    }
    .card {
      background-color: transparent !important;
      border: 1px solid rgba(255, 255, 255, 0.35) !important;
    }
    .card-header {
      padding: 0 !important;
      background-color: transparent !important;
      background-color: rgba(0, 0, 0, 0.03);
      border-bottom: none !important;
    }
    .accordion-toggle:after {
      display: none !important;
    }
    .card-body {
      color: #fff !important;
      padding: 5px 10px !important;
      font-size: 2.8vh !important;
      font-weight: lighter;
    }
    .btn {
      padding: 10px 10px !important;
      text-align: left !important;
    }
    .btn.btn-link {
      font-size: 3vh !important;
    }
    .btn-link:hover {
      text-decoration: none !important;
    }
  }
}

::ng-deep.fp-controlArrow.fp-prev {
  border-width: 30px 25px 30px 0 !important;
}

::ng-deep.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 30px 0 30px 25px;
}
::ng-deep.fp-slidesNav ul {
  text-align: center !important;
}
::ng-deep.fp-slidesNav ul li a span {
  background: #fff !important;
}
span.faq-ans {
  font-size: 20px;
  font-weight: 400;
  color: #dee2e6;
}
