// .try-now-area {
//   position: relative;
//   top: 25px;
// }

// .ios-download-section {
//   width: 100%;
//   height: 100%;
//   background: #ffc107;
//   text-align: center;
//   display: table;
//   border-radius: 10px;
//   transition: 0.5s;

//   cursor: pointer;
//   .device-icon-div {
//     display: table-cell;
//     vertical-align: middle;
//   }
//   &:hover {
//     background: orange;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
//   }
// }
// .android-download-section {
//   width: 100%;
//   height: 100%;
//   background: #8bc34a;
//   text-align: center;
//   display: table;
//   border-radius: 10px;
//   cursor: pointer;
//   transition: 0.5s;
//   .device-icon-div {
//     display: table-cell;
//     vertical-align: middle;
//   }
//   &:hover {
//     background: #689f38;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
//   }
// }

// .device-icon {
//   font-size: 50px;
//   color: #fff;
// }

// p.device-name {
//   margin-top: 20px;
//   font-size: 40px;
// }

// .m-b-20 {
//   margin-bottom: 20px;
// }

// .blue-color {
//   color: #500ade;
// }

// .section-title {
//   font-size: 20px;
//   font-weight: 600;
//   color: #500ade;
//   width: 100%;
// }
// .section-description {
//   font-size: 35px;
//   line-height: 58px;
//   // margin-bottom: 13px;
//   font-weight: 700;
//   color: #1c144e;
// }

.section-titlez {
  text-align: center;
  font-size: 7vw;
  font-weight: 600;
  color: #fff;
}

.try-now-area {
  height: 100%;
  padding: 40px 15px;
  background-image: url('assets/img/bg/mobile-1.jpg');
  background-size: cover;
  background-position: center;
}

.section-subtitlez {
  text-align: center;
  font-size: 5vw;
  margin-bottom: 3vh;
  color: #fff;
}

.ios-download-section {
  // background: #ffbb00;
  width: 100%;
  // height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  margin: 5px 0;
}

.android-download-section {
  // background: #4caf50;
  width: 100%;
  // height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  margin: 5px 0;
}

.fontColor {
  color: #fff !important;
}

.device-icon {
  font-size: 8vh;
}

.device-name {
  font-size: 5vh !important;
}
