<section class="try-now-area style-two">
  <div class="section-titlez">
    <span class="blue-color"
      >Try<span class="colorful-letter"> RTIS </span>Apps</span
    >
  </div>
  <div class="text-center m-b-20 section-subtitlez">
    <span>
      download app to explore
    </span>
  </div>
  <div class="row mobile-app-section">
    <div class="col-sm-12">
      <div class="ios-download-section">
        <div class="device-icon-div">
          <img src="assets/img/app-store.svg" alt="" width="200vw" />
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="android-download-section">
        <a class="fontColor" href="assets/app/RTIS.apk">
          <img src="assets/img/play-store.svg" alt="" width="200vw" />
        </a>
      </div>
    </div>
  </div>
  <div class="parentz">
    <div class="childzz">
      <div class="row">
        <div class="col-md-7">
          <div class="desktop-app-section">
            <div class="device-icon-div">
              <img class="svg-img" src="assets/img/app-store.svg" alt="" />
            </div>
            <div class="device-icon-div">
              <a class="fontColor" href="assets/app/RTIS.apk">
                <img class="svg-img" src="assets/img/play-store.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
