<section class="why-choose-us-bg">
  <div class="section-title">
    <span class="section-title-text"
      >Why <span class="colorful-letter">RTIS</span></span
    >
    <div class="sub-title">
      <span class="sub-title-text">
        on-demand information & analytics
      </span>
    </div>
  </div>

  <div class="container-fluid fixed-height mobile-feature-section">
    <div class="flex-container">
      <div class="itemz">
        <div class="itemzz">
          <div class="itemzs">
            <div class="item-logo">
              <img class="item-logo-img" src="assets/icons/cloud.svg" alt="" />
            </div>
            <div class="item-text">Cloud-based Secured Database</div>
          </div>
        </div>
      </div>
      <div class="itemz">
        <div class="itemzz">
          <div class="itemzs">
            <div class="item-logo">
              <img
                class="item-logo-img"
                src="assets/icons/computer.svg"
                alt=""
              />
            </div>
            <div class="item-text">
              Remotely Accessible From Any Platform
            </div>
          </div>
        </div>
      </div>
      <div class="break"></div>
      <div class="itemz">
        <div class="itemzz">
          <div class="itemzs">
            <div class="item-logo">
              <img class="item-logo-img" src="assets/icons/list.svg" alt="" />
            </div>
            <div class="item-text">Accurate & Verifiable Information</div>
          </div>
        </div>
      </div>
      <div class="itemz">
        <div class="itemzz">
          <div class="itemzs">
            <div class="item-logo">
              <img
                class="item-logo-img"
                src="assets/icons/visual-basic.svg"
                alt=""
              />
            </div>
            <div class="item-text">Interactive Data Visualization</div>
          </div>
        </div>
      </div>
      <div class="break"></div>
      <div class="itemz">
        <div class="itemzz">
          <div class="itemzs">
            <div class="item-logo">
              <img
                class="item-logo-img"
                src="assets/icons/performance.svg"
                alt=""
              />
            </div>
            <div class="item-text">
              Performance Tracking & Resource Monitoring
            </div>
          </div>
        </div>
      </div>
      <div class="itemz">
        <div class="itemzz">
          <div class="itemzs">
            <div class="item-logo">
              <img
                class="item-logo-img"
                src="assets/icons/automation.svg"
                alt=""
              />
            </div>
            <div class="item-text">
              Fully Automated On-time Data Analysis
            </div>
          </div>
        </div>
      </div>
      <div class="break"></div>
      <div class="itemz">
        <div class="itemzz">
          <div class="itemzs">
            <div class="item-logo">
              <img
                class="item-logo-img"
                src="assets/icons/business.svg"
                alt=""
              />
            </div>
            <div class="item-text">
              Customizable Report & Data Download for HIGG Input
            </div>
          </div>
        </div>
      </div>
      <div class="itemz">
        <div class="itemzz">
          <div class="itemzs">
            <div class="item-logo">
              <img class="item-logo-img" src="assets/icons/api.svg" alt="" />
            </div>
            <div class="item-text">Modular and API Driven Architecture</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="desktop-feature-menu">
    <div class="row">
      <div class="col-md-4">
        <div class="feature-list">
          <div class="cardz">
            <div class="img-sec">
              <div class="img-box">
                <img
                  class="item-logo-img"
                  src="assets/icons/cloud.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="text-sec">
              <div class="text-box">
                Cloud-based Secured Database
              </div>
            </div>
          </div>
          <div class="cardz">
            <div class="img-sec">
              <div class="img-box">
                <img
                  class="item-logo-img"
                  src="assets/icons/computer.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="text-sec">
              <div class="text-box">
                Remotely Accessible From Any Platform
              </div>
            </div>
          </div>
          <div class="cardz">
            <div class="img-sec">
              <div class="img-box">
                <img class="item-logo-img" src="assets/icons/list.svg" alt="" />
              </div>
            </div>
            <div class="text-sec">
              <div class="text-box">
                Accurate & Verifiable Information
              </div>
            </div>
          </div>
          <div class="cardz">
            <div class="img-sec">
              <div class="img-box">
                <img
                  class="item-logo-img"
                  src="assets/icons/visual-basic.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="text-sec">
              <div class="text-box">
                Interactive Data Visualization
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mobile-showcase">
          <img src="assets/img/mobile-screen.png" alt="" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-list">
          <div class="cardz">
            <div class="text-sec">
              <div class="text-box">
                Performance Tracking & Resource Monitoring
              </div>
            </div>
            <div class="img-sec">
              <div class="img-box">
                <img
                  class="item-logo-img"
                  src="assets/icons/performance.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="cardz">
            <div class="text-sec">
              <div class="text-box">
                Fully Automated On-time Data Analysis
              </div>
            </div>
            <div class="img-sec">
              <div class="img-box">
                <img
                  class="item-logo-img"
                  src="assets/icons/automation.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="cardz">
            <div class="text-sec">
              <div class="text-box">
                Customizable Report & Data Download for HIGG Input
              </div>
            </div>
            <div class="img-sec">
              <div class="img-box">
                <img
                  class="item-logo-img"
                  src="assets/icons/business.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="cardz">
            <div class="text-sec">
              <div class="text-box">
                Modular and API Driven Architecture
              </div>
            </div>
            <div class="img-sec">
              <div class="img-box">
                <img class="item-logo-img" src="assets/icons/api.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-secz">
      <span>Maintenance, implementation planning and many more!!!</span>
    </div>
  </div>
</section>
