.why-choose-us-bg {
  background-image: url('assets/img/bg/why-us-bg.jpg');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  padding-bottom: 40px;
}

.section-title {
  padding-top: 40px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

span.section-title-text {
  font-size: 4vh;
  color: #fff;
  font-weight: 600;
}
.sub-title {
  font-size: 14px;
  color: #fff;
  font-weight: lighter;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5.2vh;
}

.itemz {
  flex: 1;
  background: #fff;
  margin: 5px;
  // margin: calc(var(--vh, 1vh) * 1.5);

  border-radius: 10px;
  padding: 5px;
  height: calc(15vh + 2px);
  // height: 15.2vh;

  // height: calc(var(--vh, 1vh) * var(--vh, 4vh));
}

.break {
  flex-basis: 100%;
  height: 0;
}

.itemzz {
  display: table;
  width: 100%;
  height: 100%;
}
.itemzzz {
  display: table;
  width: 100%;
  height: calc(100% - 132px);
}

.itemzs {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.item-text {
  font-size: 1.8vh;
}

.item-logo-img {
  width: 6vh;
  height: 6vh;
}

.cardz {
  background: #fdfdfd;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin: 2vh 0;
  display: table;
}

.text-sec {
  // display: inline-block;
  width: 80%;
  padding: 0 5px;
  display: table-cell;
  vertical-align: middle;
}

.img-sec {
  // display: inline-block;
  width: 20%;
  padding: 0 5px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.mobile-showcase {
  text-align: center;
  img {
    width: 16vw;
  }
}

.text-secz {
  font-size: 1.5vw;
  color: #fff;
  margin-top: 10px;
  text-align: center;
}
