<div id="home">
  <!-- <div class="row"> -->
  <!-- <div class="col-lg-12"> -->
  <div class="headerz-inner">
    <span class="titlez"> Whether you are <br /><span class="buyer colorful-letter">Buyer</span> or <span
        class="supplier colorful-letter">Supplier</span>
    </span>
    <!-- <div>Some tags before</div> -->
    <div style="padding: 0 5px;">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><span class="carousel-text"> Do you wonder what your accurate resource footprint is?
          </span>
        </ng-template>
        <ng-template carouselSlide>
          <span class="carousel-text"> Do you lack an effective way to measure progress? </span>
        </ng-template>
        <ng-template carouselSlide>
          <span class="carousel-text"> Do you struggle with data for reporting purposes? </span>
        </ng-template>
        <ng-template carouselSlide>
          <span class="carousel-text"> Do you struggle with KPIs? </span>
        </ng-template>
        <ng-template carouselSlide>
          <span class="carousel-text"> Do you wonder as to how you get compliant and stay compliant? </span>
        </ng-template>
        <ng-template carouselSlide>
          <span class="carousel-text"> Do you lack an integrated dashboard that says it all and travels with you?
          </span>
        </ng-template>
      </owl-carousel-o>
    </div>
    <!-- <div (click)="_onClickPage2()">ggg</div> -->
    <div class="scroll-down">
      <a href="#page2" style="cursor: default;">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
      </a>
    </div>
    <!-- <a href="#page2">
    </a> -->
  </div>
</div>
<!--  <div class="col-lg-5">
        <div class="laptop-img">
          <div class="text-under-laptop">
            Introducing RTIS
          </div>
          <img class="" src="assets/img/RTIS.png" alt="" width="100%" />
        </div>
      </div> -->
<!-- </div> -->
<!-- </div> -->