@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#home {
  // background-image: url('assets/img/bg/bg-head-1.png');
  // background-color: red;
  background: url('assets/img/bg-head-transparent.png');
  // background-size: cover;
  // background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
}
// background-size: contain;

// .headerz-inner {
//   margin-top: 13.8vh;
// }

.titlez {
  font-size: 4.5vh;
  color: #fff;
}

.buyer,
.supplier {
  font-size: 5vh;
  // color: #0dffce !important;
}

.headerz-inner {
  .owl-item {
    color: #fff !important;
  }
}

.carousel-text {
  font-size: 3.5vh;
}

.scroll-down {
  width: 100vw;
  text-align: center;
  height: 7.4vh;
  margin-top: 5px;
}

::ng-deep .owl-item {
  // width: 1717px !important;
}

.owl-stage-outer {
  // padding: 0 !important;
}

.owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  // background: #869791;
  background: rgb(32, 201, 151) !important;
}

@media only screen and (max-width: 1199px) {
  .owl-nav.disabled + .owl-dots {
    margin-top: 20px !important;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #ffffff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 0.2s ease;
    border-radius: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .owl-nav.disabled + .owl-dots {
    margin-top: 10px !important;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 10px;
    margin: 5px 7px;
    background: #ffffff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 0.2s ease;
    border-radius: 20px;
  }
}
