/* styles.scss or app.component.scss */
// @import url(~fullpage.js/dist/fullpage.min.css);
/* standard css */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~fullpage.js/dist/fullpage.min.css';
@import 'assets/css/responsive.css';
@import '_variables.scss';
@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  outline: none !important;
}

.colorful-letter {
  color: rgb(32, 201, 151) !important;
}
button:focus {
  outline: 0 !important;
}

@media only screen and (max-width: 600px) {
  .scroll-down {
    display: none !important                   ;
  }
  .mobile-pricing {
    display: block !important;
  }
  .pc-pricing {
    display: none !important;
  }
  .headerz-inner {
    margin-top: 0;
    text-align: center;
    padding: 60px 0 0px 0;
  }

  .section-title,
  .section-titlez {
    padding-top: 60px !important;
  }

  .contact-us-section {
    padding-top: 0px !important;
  }
  .try-now-area {
    padding: 0px 15px 40px !important;
  }

  .working-process-bg {
    padding-top: 0px !important;
  }
  .carousel-text {
    font-size: 2.5vh;
    margin-top: 19px;
  }

  #home {
    background-image: none !important;
    background: linear-gradient(150deg, #1e308f 0%, #a167da 100%) !important;
  }

  .titlez {
    margin-bottom: 21px;
    display: block;
    margin-top: 30px;
  }

  .footer-widget .widget-title {
    font-size: 4vh;
    line-height: 32px;
    color: #fff;
    margin-bottom: 23px;
    text-align: center;
  }

  .nav_menus_widget {
    display: none;
  }

  .tab-menu {
    display: none !important;
  }

  .desktop-app-section {
    display: none !important;
  }

  .desktop-feature-menu {
    display: none !important;
  }
  .desktop-step {
    display: none !important;
  }

  .try-now-area {
    background-position: left !important;
  }

  .section-title {
    text-align: center;
    font-size: 7vw;
    font-weight: 600;
  }

  .section-subtitle {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 3vh;
  }
  .mobile-video-section {
    margin-top: 30px;
  }
  .login-signup-btn {
    display: none !important;
  }
  .faq-section {
    min-height: 60vh !important;
  }
}
@media only screen and (min-width: 600px) {
  .login-signup-btn {
    display: block !important;
  }
  #home {
    height: 55vh !important;
  }
  .headerz-inner {
    padding: 100px 20px;
  }
  .mobile-pricing {
    display: block !important;
  }
  .pc-pricing {
    display: none !important;
  }
  .titlez {
    font-size: 4.5vw !important;
    margin-bottom: 20px !important        ;
  }

  .scroll-down {
    display: none !important                   ;
  }
  .buyer,
  .supplier {
    font-size: 4.8vw !important;
  }
  .carousel-text {
    font-size: 3.5vw !important;
  }

  span.section-title-text {
    font-size: 4vw !important;
  }
  #intro {
    background-position: unset !important;
  }
  span.rtis-text-span {
    font-size: 4vw !important;
  }
  .sub-title {
    font-size: 3vw !important;
  }
  .section-title {
    font-size: 4vw !important;
    // color: #212529 !important;
    text-align: center !important;
  }
  .section-subtitle {
    font-size: 3vw !important;
    margin-bottom: 35px !important;
    text-align: center !important;
  }

  .accordian-content {
    font-size: 2.5vw !important;
  }

  .section-titlez {
    font-size: 4vw !important;
  }

  .section-subtitlez {
    font-size: 3vw !important;
    margin-bottom: 15px !important;
  }

  .android-download-section {
    height: auto !important ;
  }

  .ios-download-section {
    height: auto !important ;
  }
  .subtitle {
    font-size: 3vw !important;
    text-align: center !important;
  }
  .desktop-footer {
    display: none !important;
  }
  .footer-section-title {
    font-size: 4vw !important;
    color: #fff;
    text-align: center;
  }
  .about-rtis-text {
    font-size: 2.5vw !important;
    color: #fff;
    opacity: 0.7;
  }

  .mobile-footer-menu li {
    margin: 0 4vw !important;
    font-size: 2vw !important;
  }
  .copyright-inner {
    font-size: 18px !important;
  }

  .desktop-app-section {
    display: none !important;
  }

  .desktop-feature-menu {
    display: none !important;
  }

  .desktop-step {
    display: none !important;
  }

  .pricing-plan-area {
    padding: 40px 0 !important;
  }

  .contact-us-section {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .mobile-pricing {
    display: block !important;
  }
  .pc-pricing {
    display: none !important;
  }
  .mobile-video-section {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .desktop-feature-menu {
    display: block !important                                                    ;
  }
  #home {
    height: 100vh !important;
  }

  .headerz-inner {
    padding: 100px 0 0px 50px;
    margin-right: 100px;
  }

  .scroll-down {
    display: block !important;
    position: absolute !important;
    bottom: 0 !important;
    margin-bottom: 20px !important;
  }
  .transparent-menu {
    padding: 0 15px !important;
  }
  .block-menu {
    padding: 0 15px !important;
  }
  .titlez {
    font-size: 3vw !important;
  }
  .buyer,
  .supplier {
    font-size: 4vw !important;
  }
  .carousel-text {
    font-size: 3vw !important;
  }

  .section-title {
    padding-top: 70px !important;
  }

  #intro {
    padding: 0 15px !important;
    background-size: cover !important;
  }

  span.section-title-text {
    font-size: 3vw !important;
  }

  .image-section img {
    width: 100vh !important;
  }

  span.rtis-text-span {
    font-size: 3.5vw !important;
  }
  .why-choose-us-bg {
    padding: 0px 50px !important;
  }

  .mobile-feature-section {
    display: none;
  }
  .sub-title {
    font-size: 2vw !important;
    margin-bottom: 20px !important;
  }

  .item-logo-img {
    width: 8vh !important;
    height: 8vh !important;
    border-radius: 50% !important;
  }

  .working-process-bg {
    height: 100vh !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .section-title {
    font-size: 3vw !important;
    text-align: center !important;
    margin-bottom: 0px !important;
  }
  .section-subtitle {
    font-size: 2vw !important;
    margin-bottom: 35px !important;
    text-align: center;
  }

  .accordian-section {
    display: none !important;
  }

  .working-process-bg {
    background: url('assets/img/bg/2319913.svg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  .desktop-step {
    text-align: center;
    display: block !important;
    width: 100%;
    // position: absolute;
    // top: 0;
    // height: 100vh;
  }

  .childz {
    // display: table-cell;
    // vertical-align: middle;
  }

  .step-icons {
    display: inline-block;
    margin: 0 50px;
    text-align: -webkit-center;
  }

  .step-single-icon {
    background: #dee2e6;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  .step-single-icon.selected {
    background: #673ab7;
  }

  .sadsad:after {
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 35px;
    content: '';
    color: #7f3ff1;
    position: relative;
    top: -90px;
  }

  .step-single-icon img {
    width: 60px;
    height: 60px;
  }

  .step-single-text {
    font-size: 20px;
    font-weight: 700;
  }

  .try-now-area {
    height: 100vh !important;
    padding: 70px 15px !important;
  }
  .section-titlez {
    font-size: 3vw !important;
  }
  .section-subtitlez {
    font-size: 2vw !important;
  }
  .mobile-app-section {
    display: none !important;
    justify-content: center;
  }
  .desktop-app-section {
    display: flex !important;
    justify-content: center !important;
  }
  .flex-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
  }

  .ios-download-section {
    justify-content: left !important;
  }
  .ios-download-section {
    justify-content: flex-start !important;
    margin: 5px 20px !important;
  }
  .android-download-section {
    justify-content: flex-start !important;
    margin: 5px 20px !important;
  }

  .svg-img {
    width: 20vw !important;
  }

  .contact-us-section {
    height: 100vh !important;
    padding: 0 15px !important;
  }
  .subtitle {
    font-size: 2vw !important;
  }

  .father {
    display: table;
    position: absolute;
    top: 30px;
    height: 100vh;
  }

  .tab-menu {
    display: none !important;
  }

  .mobile-footer-menu {
    display: none;
  }
  .desktop-footer {
    display: flex !important;
  }

  .parentz {
    position: absolute;
    top: 0;
    height: 100vh;
    display: table;
    width: 100vw;
  }

  .childzz {
    display: table-cell;
    vertical-align: middle;
  }

  .device-icon-div {
    margin: 20px;
  }

  .pricing-plan-area {
    height: 100vh !important;
    padding: 0 !important;
  }

  .premium-pricing-item-icon,
  .basic-pricing-item-icon,
  .pricing-item-icon {
    height: 4vw !important;
    width: 4vw !important;
  }
  .mobile-pricing {
    display: none !important;
  }
  .pc-pricing {
    display: block !important;
  }
  section.start-area {
    height: 100vh;
  }
  mat-video.mat-video-responsive {
    height: 65vh;
    width: 70vw;
  }

  .faq-section {
    height: 100vh !important;
  }
}
