.footer-area {
  background-image: -moz-linear-gradient(50deg, #5e2ced 0%, #9749f8 100%);
  background-image: -webkit-linear-gradient(50deg, #5e2ced 0%, #9749f8 100%);
  background-image: -ms-linear-gradient(50deg, #5e2ced 0%, #9749f8 100%);
  background-image: linear-gradient(50deg, #5e2ced 0%, #9749f8 100%);
}
.section {
  text-align: center;
  font-size: 3em;
}
.footer-top {
  padding: 30px 0 40px 0;
}

.about_widget .footer-logo {
  margin-bottom: 25px;
  display: block;
}

.about_widget .footer-logo {
  display: block;
  margin-bottom: 25px;
}

a {
  color: #1c144e;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.about_widget p {
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.8);
}

.copyright-inner .social-icon {
  margin: 0;
  padding: 0;
  list-style: none;
}

.copyright-inner .social-icon li a {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.copyright-inner .social-icon li:first-child {
  margin-left: 0;
}

.copyright-inner .social-icon li {
  display: inline-block;
  margin: 0 20px;
}

.copyright-inner .social-icon li:last-child {
  margin-right: 0;
}

.footer-widget .widget-title {
  font-size: 4vh;
  line-height: 32px;
  color: #fff;
  margin-bottom: 23px;
  font-weight: 600;
}

.nav_menus_widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_menus_widget ul li:first-child {
  margin-top: 0;
}

.nav_menus_widget ul li {
  margin: 15px 0;
}

.nav_menus_widget ul li:last-child {
  margin-bottom: 0;
}

.nav_menus_widget ul li a {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.copyright-inner {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
}

.copyright-inner .left-content-area {
  display: inline-block;
}

.copyright-inner .right-content-area {
  display: inline-block;
  float: right;
}

.footer-widget.nav_menus_widget {
  // margin-left: 100px;
}

.mobile-footer-menu {
  text-align: center;
  li {
    display: inline-block;
    list-style: none;
    margin: 0 1.4vmin;
    color: #0dffce;
    font-size: 13px;
  }
}

::ng-deep .modal-dialog {
  max-width: 800px;
}
