<footer class="footer-area">
  <div class="footer-top">
    <div class="container">
      <div class="row desktop-footer">
        <div class="col-lg-5 ">
          <div class="footer-widget about_widget">
            <h4 class="widget-title">
              About <span class="colorful-letter">RTIS</span>
            </h4>
            <p style="text-align: justify;">
              RTIS is a cloud-based secured & API driven resource tracking
              system with an operational dashboard. <br />

              It provides on-time data analytics, interactive data
              visualization, performance tracking and resource usage pattern in
              the textile production process.
            </p>
          </div>
        </div>
        <div class="col-lg-2 ">
          <!-- <div class="footer-widget nav_menus_widget">
            <h4 class="widget-title">Useful Links</h4>
            <ul>
              <li>
                <a href="index.html"
                  ><i class="fa fa-chevron-right"></i> Home</a
                >
              </li>
              <li>
                <a href="#"><i class="fa fa-chevron-right"></i> About Us</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-chevron-right"></i> How it works</a>
              </li>

              <li>
                <a href="#"><i class="fa fa-chevron-right"></i> Contact</a>
              </li>
            </ul>
          </div> -->
        </div>
        <div class="col-lg-5 ">
          <div class="footer-widget nav_menus_widget">
            <h4 class="widget-title">Need Help?</h4>
            <ul>
              <li>
                <a href="#page8"> <i class="fa fa-chevron-right"></i> FAQs </a>
              </li>
              <li>
                <a href="#page9"><i class="fa fa-chevron-right"></i> Support</a>
              </li>
              <li (click)="openModalPrivacyModal(template)">
                <a href="#">
                  <i class="fa fa-chevron-right"></i> Privacy Policy
                </a>
              </li>

              <li (click)="openModalTermsModal(template1)">
                <a href="#"
                  ><i class="fa fa-chevron-right"></i> Terms & Condition</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="mobile-footer-menu">
            <li (click)="openModalPrivacyModal(template)">
              Privacy Policy
            </li>
            <li (click)="openModalPrivacyModal(template1)">
              Terms & Condition
            </li>
          </div>
        </div>
        <!-- <div class="col-lg-3 col-md-6">
          <div class="footer-widget nav_menus_widget">
            <h4 class="widget-title">Download</h4>
            <ul>
              <li>
                <a href="#"><i class="fa fa-chevron-right"></i> For IOS</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-chevron-right"></i> For Android</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-chevron-right"></i> For Mac</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-chevron-right"></i> For Window</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-chevron-right"></i> For Linax</a>
              </li>
            </ul>
          </div>
        </div> -->
      </div>

      <div class="tab-menu">
        <div class="footer-section-title">
          <span>About <span class="colorful-letter">RTIS</span> </span>
        </div>
        <div class="about-rtis-text">
          <p style="text-align: justify;">
            RTIS is a cloud-based secured & API driven resource tracking system
            with an operational dashboard. <br />

            It provides on-time data analytics, interactive data visualization,
            performance tracking and resource usage pattern in the textile
            production process.
          </p>
        </div>
        <div class="col-sm-12">
          <div class="mobile-footer-menu">
            <li (click)="openModalPrivacyModal(template)">
              Privacy Policy
            </li>
            <li (click)="openModalPrivacyModal(template1)">
              Terms & Condition
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <!-- copyright area -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright-inner">
            <!-- copyright inner wrapper -->
            <div class="left-content-area">
              <!-- left content area -->
              Copyright © 2020 RTIS All rights reserved.
            </div>
            <!-- <div class="right-content-area">
              <ul class="social-icon">
                <li>
                  <a href="#"><i class="fa fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-pinterest-p"></i></a>
                </li>
              </ul>
            </div> -->
            <!-- //. left content aera -->
            <!--  <!~~ <div class="right-content-area">
              <!~~ right content area ~~>
            Designed with <strong>❤️</strong>
          </div> -->
            <!-- //. right content area -->
          </div>
          <!-- //.copyright inner wrapper -->
        </div>
      </div>
    </div>
  </div>
  <!-- //. copyright area -->
</footer>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Privacy Policy</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Generic Privacy Policy template Privacy Policy Last updated: ​(add date) My
    Company (change this)​ ("us", "we", or "our") operates
    ​http://www.mysite.com (change this)​ (the "Site"). This page informs you of
    our policies regarding the collection, use and disclosure of Personal
    Information we receive from users of the Site. We use your Personal
    Information only for providing and improving the Site. By using the Site,
    you agree to the collection and use of information in accordance with this
    policy. Information Collection And Use While using our Site, we may ask you
    to provide us with certain personally identifiable information that can be
    used to contact or identify you. Personally identifiable information may
    include, but is not limited to your name ("Personal Information"). Log Data
    Like many site operators, we collect information that your browser sends
    whenever you visit our Site ("Log Data"). This Log Data may include
    information such as your computer's Internet Protocol ("IP") address,
    browser type, browser version, the pages of our Site that you visit, the
    time and date of your visit, the time spent on those pages and other
    statistics. In addition, we may use third party services such as Google
    Analytics that collect, monitor and analyze this … The Log Data section is
    for businesses that use analytics or tracking services in websites or apps,
    like Google Analytics. For the full disclosure section, ​create your own
    Privacy Policy​. Communications We may use your Personal Information to
    contact you with newsletters, marketing or promotional materials and other
    information that ... The Communications section is for businesses that may
    contact users via email (email newsletters) or other methods. For the full
    disclosure section, ​create your own Privacy Policy​. Cookies Cookies are
    files with small amount of data, which may include an anonymous unique
    identifier. Cookies are sent to your browser from a web site and stored on
    your computer's hard drive. Like many sites, we use "cookies" to collect
    information. You can instruct your browser to refuse all cookies or to
    indicate when a cookie is being sent. However, if you do not accept cookies,
    you may not be able to use some portions of our Site. Security The security
    of your Personal Information is important to us, but remember that no method
    of transmission over the Internet, or method of electronic storage, is 100%
    secure. While we strive to use commercially acceptable means to protect your
    Personal Information, we cannot guarantee its absolute security. Changes To
    This Privacy Policy This Privacy Policy is effective as of ​(add date)​ and
    will remain in effect except with respect to any changes in its provisions
    in the future, which will be in effect immediately after being posted on
    this page. We reserve the right to update or change our Privacy Policy at
    any time and you should check this Privacy Policy periodically. Your
    continued use of the Service after we post any modifications to the Privacy
    Policy on this page will constitute your acknowledgment of the modifications
    and your consent to abide and be bound by the modified Privacy Policy. If we
    make any material changes to this Privacy Policy, we will notify you either
    through the email address you have provided us, or by placing a prominent
    notice on our website. Contact Us If you have any questions about this
    Privacy Policy, please contact us.
  </div>
</ng-template>
<ng-template #template1>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Terms & Conditions</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Terms and Conditions Welcome to Website Name! These terms and conditions
    outline the rules and regulations for the use of Company Name's Website,
    located at Website.com. By accessing this website we assume you accept these
    terms and conditions. Do not continue to use Website Name if you do not
    agree to take all of the terms and conditions stated on this page. The
    following terminology applies to these Terms and Conditions, Privacy
    Statement and Disclaimer Notice and all Agreements: “Client”, “You” and
    “Your” refers to you, the person log on this website and compliant to the
    Company's terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and
    “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the
    Client and ourselves. All terms refer to the offer, acceptance and
    consideration of payment necessary to undertake the process of our
    assistance to the Client in the most appropriate manner for the express
    purpose of meeting the Client's needs in respect of provision of the
    Company's stated services, in accordance with and subject to, prevailing law
    of Netherlands. Any use of the above terminology or other words in the
    singular, plural, capitalization and/or he/she or they, are taken as
    interchangeable and therefore as referring to same. Cookies We employ the
    use of cookies. By accessing Website Name, you agreed to use cookies in
    agreement with the Company Name's Privacy Policy. Most interactive websites
    use cookies to let us retrieve the user's details for each visit. Cookies
    are used by our website to enable the functionality of certain areas to make
    it easier for people visiting our website. Some of our affiliate/advertising
    partners may also use cookies. License Unless otherwise stated, Company Name
    and/or its licensors own the intellectual property rights for all material
    on Website Name. All intellectual property rights are reserved. You may
    access this from Website Name for your own personal use subjected to
    restrictions set in these terms and conditions. You must not: Republish
    material from Website Name Sell, rent or sub-license material from Website
    Name Reproduce, duplicate or copy material from Website Name Redistribute
    content from Website Name This Agreement shall begin on the date hereof.
    Parts of this website offer an opportunity for users to post and exchange
    opinions and information in certain areas of the website. Company Name does
    not filter, edit, publish or review Comments prior to their presence on the
    website. Comments do not reflect the views and opinions of Company Name,its
    agents and/or affiliates. Comments reflect the views and opinions of the
    person who post their views and opinions. To the extent permitted by
    applicable laws, Company Name shall not be liable for the Comments or for
    any liability, damages or expenses caused and/or suffered as a result of any
    use of and/or posting of and/or appearance of the Comments on this website.
    Company Name reserves the right to monitor all Comments and to remove any
    Comments which can be considered inappropriate, offensive or causes breach
    of these Terms and Conditions. You warrant and represent that: You are
    entitled to post the Comments on our website and have all necessary licenses
    and consents to do so; The Comments do not invade any intellectual property
    right, including without limitation copyright, patent or trademark of any
    third party; The Comments do not contain any defamatory, libelous,
    offensive, indecent or otherwise unlawful material which is an invasion of
    privacy The Comments will not be used to solicit or promote business or
    custom or present commercial activities or unlawful activity. You hereby
    grant Company Name a non-exclusive license to use, reproduce, edit and
    authorize others to use, reproduce and edit any of your Comments in any and
    all forms, formats or media. Hyperlinking to our Content The following
    organizations may link to our Website without prior written approval:
    Government agencies; Search engines; News organizations; Online directory
    distributors may link to our Website in the same manner as they hyperlink to
    the Websites of other listed businesses; and System wide Accredited
    Businesses except soliciting non-profit organizations, charity shopping
    malls, and charity fundraising groups which may not hyperlink to our Web
    site. These organizations may link to our home page, to publications or to
    other Website information so long as the link: (a) is not in any way
    deceptive; (b) does not falsely imply sponsorship, endorsement or approval
    of the linking party and its products and/or services; and (c) fits within
    the context of the linking party's site. We may consider and approve other
    link requests from the following types of organizations: commonly-known
    consumer and/or business information sources; dot.com community sites;
    associations or other groups representing charities; online directory
    distributors; internet portals; accounting, law and consulting firms; and
    educational institutions and trade associations. We will approve link
    requests from these organizations if we decide that: (a) the link would not
    make us look unfavorably to ourselves or to our accredited businesses; (b)
    the organization does not have any negative records with us; (c) the benefit
    to us from the visibility of the hyperlink compensates the absence of
    Company Name; and (d) the link is in the context of general resource
    information. These organizations may link to our home page so long as the
    link: (a) is not in any way deceptive; (b) does not falsely imply
    sponsorship, endorsement or approval of the linking party and its products
    or services; and (c) fits within the context of the linking party's site. If
    you are one of the organizations listed in paragraph 2 above and are
    interested in linking to our website, you must inform us by sending an
    e-mail to Company Name. Please include your name, your organization name,
    contact information as well as the URL of your site, a list of any URLs from
    which you intend to link to our Website, and a list of the URLs on our site
    to which you would like to link. Wait 2-3 weeks for a response. Approved
    organizations may hyperlink to our Website as follows: By use of our
    corporate name; or By use of the uniform resource locator being linked to;
    or By use of any other description of our Website being linked to that makes
    sense within the context and format of content on the linking party's site.
    No use of Company Name's logo or other artwork will be allowed for linking
    absent a trademark license agreement. iFrames Without prior approval and
    written permission, you may not create frames around our Webpages that alter
    in any way the visual presentation or appearance of our Website. Content
    Liability We shall not be hold responsible for any content that appears on
    your Website. You agree to protect and defend us against all claims that is
    rising on your Website. No link(s) should appear on any Website that may be
    interpreted as libelous, obscene or criminal, or which infringes, otherwise
    violates, or advocates the infringement or other violation of, any third
    party rights. Reservation of Rights We reserve the right to request that you
    remove all links or any particular link to our Website. You approve to
    immediately remove all links to our Website upon request. We also reserve
    the right to amen these terms and conditions and it's linking policy at any
    time. By continuously linking to our Website, you agree to be bound to and
    follow these linking terms and conditions. Removal of links from our website
    If you find any link on our Website that is offensive for any reason, you
    are free to contact and inform us any moment. We will consider requests to
    remove links but we are not obligated to or so or to respond to you
    directly. We do not ensure that the information on this website is correct,
    we do not warrant its completeness or accuracy; nor do we promise to ensure
    that the website remains available or that the material on the website is
    kept up to date. Disclaimer To the maximum extent permitted by applicable
    law, we exclude all representations, warranties and conditions relating to
    our website and the use of this website. Nothing in this disclaimer will:
    limit or exclude our or your liability for death or personal injury; limit
    or exclude our or your liability for fraud or fraudulent misrepresentation;
    limit any of our or your liabilities in any way that is not permitted under
    applicable law; or exclude any of our or your liabilities that may not be
    excluded under applicable law. The limitations and prohibitions of liability
    set in this Section and elsewhere in this disclaimer: (a) are subject to the
    preceding paragraph; and (b) govern all liabilities arising under the
    disclaimer, including liabilities arising in contract, in tort and for
    breach of statutory duty. As long as the website and the information and
    services on the website are provided free of charge, we will not be liable
    for any loss or damage of any nature.
  </div>
</ng-template>
