.contact-us-section {
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-top: 40px; // height: 100%;
  background-image: url(assets/img/bg/contact-us.jpg);
  padding-bottom: 50px;
}

.section-title {
  text-align: center;
  font-size: 7vw;
  font-weight: 600;
  color: #fff;
}

.subtitle {
  font-size: 5vw;
  color: #fff;
}

p {
  font-size: 16px;
  color: #666666;
  line-height: 1.625;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.contact-form.sec-margin {
  margin-top: 2vh;
}

.contact-form .form-group .form-control {
  border: 1px solid #ddd;
  height: 40px;
  padding: 0 20px;
  transition: 0.3s ease-in;
  border-radius: 5px !important;
}

.contact-form .form-group.textarea .form-control {
  resize: none;
  padding: 20px;
  min-height: 120px;
}

.contact-form {
  .form-control {
    color: rgb(27, 27, 27);
    font-weight: 500;
  }
  .form-control:focus {
    border-bottom: 3px solid #ff5722 !important;
    box-shadow: none;
  }
}

.form-control::-webkit-input-placeholder {
  color: rgb(27, 27, 27);
  font-weight: 500;
} /* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: rgb(27, 27, 27);
  font-weight: 500;
} /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: rgb(27, 27, 27);
  font-weight: 500;
} /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: rgb(27, 27, 27);
  font-weight: 500;
} /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: rgb(27, 27, 27);
  font-weight: 500;
} /* Microsoft Edge */

.submit-btn.gd-bg-1 {
  background-image: -moz-linear-gradient(50deg, #5e2ced 0%, #9749f8 100%);
  background-image: -webkit-linear-gradient(50deg, #5e2ced 0%, #9749f8 100%);
  background-image: -ms-linear-gradient(50deg, #5e2ced 0%, #9749f8 100%);
  background-image: linear-gradient(50deg, #5e2ced 0%, #9749f8 100%);
}

.submit-btn.btn-rounded {
  border-radius: 30px;
}

.submit-btn {
  width: 150px;
  height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  /* line-height: 60px; */
  color: #fff;
  text-transform: capitalize;
  background-color: #500ade;
  border: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
  margin-top: 10px;
  margin: 0 auto;
  border: 2px solid #fff;
}

.submit-btn.gd-bg-1:hover {
  background-image: -moz-linear-gradient(50deg, #9749f8 0%, #5e2ced 100%);
  background-image: -webkit-linear-gradient(50deg, #9749f8 0%, #5e2ced 100%);
  background-image: -ms-linear-gradient(50deg, #9749f8 0%, #5e2ced 100%);
  background-image: linear-gradient(50deg, #9749f8 0%, #5e2ced 100%);
}

.background-img {
  margin-top: 90px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  flex: 1;
}
.father {
  display: table;
  width: 100%;
}
.child {
  display: table-cell;
  vertical-align: middle;
}
