<section class="contact-us-section">
  <div class="contact-area-wrapper" id="contact">
    <!-- contact area wrapper -->
    <div class="section-title">
      <span class=""
        >Contact <span class="colorful-letter">RTIS</span> team</span
      >
    </div>
    <div class="subtitle">
      for any information, pricing or support, please submit your queries.
    </div>

    <div class="father">
      <div class="child">
        <div class="container">
          <form
            id="contact_form_submit"
            class="contact-form sec-margin"
            [formGroup]="mailForm"
            (ngSubmit)="sendMail()"
          >
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="org_name"
                    placeholder="Organization name"
                    formControlName="org_name"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <select class="form-control" formControlName="org_type">
                    <option [value]="null">Organization type</option>
                    <option
                      *ngFor="let item of orgTypeData"
                      [value]="item.name"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Name"
                    formControlName="name"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="Email"
                    formControlName="email"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="cell_no"
                    placeholder="Cell phone"
                    formControlName="cell_no"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <select class="form-control" formControlName="purpose">
                    <option [value]="null">Purpose</option>
                    <option
                      *ngFor="let item of purposeData"
                      [value]="item.name"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group textarea">
                  <textarea
                    name="message"
                    id="message"
                    class="form-control"
                    cols="30"
                    rows="10"
                    placeholder="Message"
                    formControlName="message"
                  ></textarea>
                </div>
              </div>
              <button
                type="submit"
                [disabled]="mailForm.invalid"
                class="submit-btn  btn-rounded gd-bg-1"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
